@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.bgglass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#search{
    width: auto;
    height: 45.6px;
    background: none;
    padding-left: 5px;
}

#search {outline: none;}



.bordercustom{
    border-bottom: 1px solid #ababab;
}

body{
    background: #001845;
}

.bgnav{
    background: #023e7d;
}

.svghv:hover :not(h3){
    transition: all 0.2s ;
    color: #fff;
}

.bghvr:hover{
    transition: all 0.2s;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.svghvr:hover :not(h3){
    transition: all 0.2s ;
    color: #fff;
}

.svghvr:hover :not(svg){
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.brdtop{
    border-top: 1px solid #fff;
}


.textcolor{
    color: #b7b7b7;
}





.sidebarborderr{
    flex-direction: column;
    width: 65px!important;
    top: 530px!important;
    /* margin-right: 20px!important; */
    height: 165px;
    padding-right: 13px;
}



.stylell{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.stylel{
    justify-content: space-around;
}



.sidebarShow{
    display: block!important;
}






.heightcustom{
    height: auto;
    background: rgba(15, 15, 15, 0.63);
    backdrop-filter: blur(15px);
    position: fixed;
    display: none;
}





.appboxdisplay{
    display: block!important;
}

.appboxstyle{
    width: 340.3px;
    height: 356.8px;
    background: #282736;
    border-radius: 10px;
    position: absolute;
    left: 0;
    display: none;
}


.padding{
    padding: 8px 16px;
}




.flexdirc{
    flex-direction: column;
}


.mb{
    margin: 0px 16.05px 4px;
}